<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401542905433-c8ec61tbmscqlhn5q6q6qrmc6k5hoep3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401542905433-c8ec61tbmscqlhn5q6q6qrmc6k5hoep3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401542905433-3fbf1qmcjcv2b3cm98gdqpc1gjk1acmg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQp5BHfVH6aBiBPsQMsrgMC0Kkdwc4nik</string>
	<key>GCM_SENDER_ID</key>
	<string>401542905433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>csc339proj</string>
	<key>STORAGE_BUCKET</key>
	<string>csc339proj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401542905433:ios:e6d04c2f763674c6bebb48</string>
</dict>
</plist>